<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>객체 관련 키워드</title>
    <style>
        .area{
            height: 150px;
            background: lightgray;
            border : 1px solid black;
        }
    </style>
</head>
<body>
    <h1>객체 관련 키워드</h1>
    <h3>instanceof 키워드</h3>
    <p>A instanceof B : A는 B의 한 종류이다.</p>
    <p>해당 객체가 어떠한 함수를 통해 생성되었는지 확인할 때 사용</p>
    <button onclick="test1();">실행확인</button>
    <div id="area1" class="area"></div>
    <script>
        function Dog(name){
            this.name = name;
        }

        function test1(){
            var myDog = new Dog('쫑이');

            var area1 = document.getElementById('area1');

            area1.innerHTML += "myDog instanceof Dog : " + (myDog instanceof Dog) + "<br>";
            area1.innerHTML += "myDog instanceof String : " + (myDog instanceof Object) + "<br>";
            area1.innerHTML += "myDog instanceof String : " + (myDog instanceof Number) + "<br>"; 
            area1.innerHTML += "myDog instanceof String : " + (myDog instanceof String) + "<br>"; 
            area1.innerHTML += "myDog instanceof String : " + (myDog instanceof Boolean) + "<br>";

            area1.innerHTML += "myDog name is " + myDog.name + myDob['name'] + "<br>";
        }
    </script>
    

    <h1>캡슐화와 상속</h1>
    <h3>캡슐화</h3>
    <p>생성자 함수에서 속성 정의시
        this. 키워드를 사용하지 않고 지역변수로 선언할경우
        캡슐화된 객체의 속성은 직접 접근할 수 없으므로
        간접적으로 접근할 수 있도록 get/setter 메소드 정의해야함 
    </p>
    <button onclick="test3();">실행확인</button>
    <div id="area3" class="area"></div>

    <script>
        function Fruit(fname,fcolor,forigin){
            var name = fname;
            var color = fcolor;
            var origin = forigin;

            // 클로저 setter getter
            this.getName = function(){
                return name;
            }

            this.getColor = function(){
                return color;
            }

            this.getOrigin = function(){
                return origin;
            }

            this.setName = function(fname){
                name = fname;
            }

            this.setColor = function(fcolor){
                color = fcolor;
            }

            this.setOrigin = function(forigin){
                origin = forigin;
            }
        }

        function test3(){
            var fname = "사과";
            var fcolor = "red";
            var forigin = "daegu";

            var fruit1 = new Fruit(fname, fcolor, forigin);

            console.log(fruit1);
            console.log(fruit1.getName());
            
            fruit1.setName("배");
            console.log(fruit1);
            console.log(fruit1.getName());

            with(fruit1){
                area3.innerHTML += "과일 명 : " + getName() + "<br>";
                area3.innerHTML += "과일 색 : " + getColor() + "<br>";
                area3.innerHTML += "원산지 : " + getOrigin() + "<br>";           
            }
        }
    </script>

    
</body>
</html>